body {
    color: #637a98;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 3%;
    margin-bottom: 10%;
    margin-left: 15%;
    margin-right: 15%;
}

a {
    text-decoration: none;
    color: cyan;
}

nav ul li a {
    text-decoration: none;
    color: gray;
}

#ernest {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

#about {
    font-size: 35px;
    color: black;
}

nav {
    position: relative;
    top: -39px;
    left: 560px;
    color: gray;
    font-size: 17px;
}

nav ul li {
    display: inline;
    padding: 0 15px 0 15px;
}

#abt {
    color: black;
}

.chapter {
    width: 550px;
    font-size: 18px;
    line-height: 32px;
}

img {
    margin-top: 20px;
    margin-bottom: 80px;
}

#exp-site {
    display: inline-block;
    list-style-type: circle;
    padding-right: 40px;
    font-weight: bold;
    color: black;
    margin-left: -20px;
    margin-top: -3px;
}

#exp-time {
    display: inline-block;
    list-style-type: none;
    text-align: right;
    margin-top: -3px;
}

#exp-site li span {
    position: relative;
    left: 10px;
} 

#experience-chapter {
    position: relative;
    top: -600px;
    left: 600px;
}

#speaking-chapter {
    margin-top: -220px;
}

#speaking-chapter p {
    line-height: 32px;
    font-size: 18px;
    margin-bottom: 50px;
    margin-top: -8px;
}

#website-chapter {
    margin-top: 170px;
    line-height: 32px;
    font-size: 18px;
}

.subheading {
    color: gray;
    font-size: 14.4px;
    font-weight: bold;
}

h2 {
    color: black;
}


@media (max-width: 1220px){
    #experience-chapter {
        position: static;
    }

    #speaking-chapter {
        margin-top: 120px;
    }
}


@media (max-width: 1120px){
    nav {
        left: 160px;
    }
}

@media (max-width: 650px){
    body {
        margin-left: 5%;
    }

    #ernest {
        font-size: 16.2px;
    }

    #about {
        font-size: 20px;
    }

    nav {
        top: 0px;
        left: -40px;
        font-size: 15px;
        margin-top: 20px;
    }

    nav ul li {
        padding-left: 0;
        padding-right: 10px;
    }

    .chapter {
        width: 100%;
        font-size: 16px;
    }

    img {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    #exp-site {
        padding-right: 0;
        margin-left: -20px;
        margin-top: -3px;
    }

    #speaking-chapter {
        margin-top: 50px;
    }

    #speaking-chapter #first-h2 {
        margin-top: -15px;
    }

    h2 {
        font-size: 16px;
    }
    
    #speaking-chapter p {
        font-size: 16px;
        margin-bottom: 50px;
        margin-top: -5px;
    }

    #website-chapter {
        margin-top: 90px;
        font-size: 16px;
    }
    
    .subheading {
        color: gray;
        font-size: 12.6px;
        font-weight: bold;
    }
}

@media (max-width: 432px){
    #exp-site li {
        font-size: 14px;
        
    }

    #exp-time li {
        font-size: 14px;
        
    }
}